@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-input {
    @apply w-full p-1 text-neutral-black bg-neutral-white rounded-lg font-semibold;
  }
}

@keyframes progressbarShrink {
  from {
      width: 100%;
  }
  to {
      width: 0%;
  }
}

@font-face {
  font-family: "MERIFONT";
  src: url("/fonts/MERIFONT.TTF") format("truetype");
}

@font-face {
  font-family: "CASEFONT";
  src: url("/fonts/CASEFONT.TTF") format("truetype");
}